
#home {

background-color: paleturquoise;
}

#macaron {
	background-color: pink;
	font-family: 'Parisienne', cursive;
}

#chocolate {
	background-color: rosybrown;
	font-family: 'Parisienne', cursive;
	

}

#snickerdoodle {
	background-color: lightyellow;
	font-family: 'Parisienne', cursive;
}


body {
	font-family: 'Roboto Condensed', sans-serif;


}

img     
 {
display: block;
margin-left: auto;
margin-right: auto;

 }


