
#home {

background-color: paleturquoise;
}

#macaron {
	background-color: pink;
}

#chocolate {
	background-color: rosybrown;
}

#snickerdoodle {
	background-color: lightyellow;
}


body {

	font-family: 'Parisienne', cursive;

}

